@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$size-xl: 2rem;
$size-l: 1.6rem;
$size-m: 1.2rem;
$size-s: 1rem;
$size-xs: 0.8rem;

$weight-regular: 400;
$weight-bold: 700;
$weight-fat: 900;
$weight-thin: 200;

$color-white: #eee;
$color-black: #201d1d;
$color-cleanWhite: #fff;
$color-deepBlack: #000;
$color-blue: #2e4fc0;
$color-green: #0d852f;
$color-red: #c91616;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Bona Nova SC', serif;
