@use 'theme';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: theme.$font-primary;
  font-size: theme.$size-l;
  font-weight: theme.$weight-regular;
  color: theme.$color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme.$font-secondary !important;
  font-weight: theme.$weight-bold !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: #eee;
  box-sizing: border-box;
}

.logo {
  height: 3rem !important;
  width: 3rem !important;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: theme.$font-secondary;
  font-weight: theme.$weight-bold;
}

.sideMenu {
  width: 300px;
  padding: 2rem 0;
}

.menuHeader {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 0;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);;
  padding: 32px;
}